.stepper-table-header{
  font-size: larger;
  text-align: center;
  background-color: #76918D;
  color:white;
}
.stepper-table-button{
  padding: 10px;
  font-size: larger;
  text-align: center;
  background-color: #76918D;
  color:#8a9b6e;
}
.stepper-table-body{
  padding: 8px;
  font-size: larger;
  text-align: center;
  background-color: #C8F7F0;
}
.stepper-table-body-first{
  padding: 8px;
  font-size: larger;
  text-align: center;
  background-color: #C8F7F0;
}
.stepper-table-body-last{
  padding: 8px;
  font-size: larger;
  text-align: center;
  background-color: #C8F7F0;
}
.navBar{
  background-color: #2F3148;
  border-bottom: #2F3148 6px solid ;
  border-radius:0.1rem;
}
.side-grid{
  background-color: #587099;
  border-right: #495065 6px solid ;

}
.footer-temp{
  background-color: #2F3148;
  border-top: #2F3148 6px solid;
}
