
<mat-stepper  [linear]="isLinear" #stepper style="background-color:#BDD9BF">
  <mat-step [stepControl]="firstForm2Group">
    <form [formGroup]="firstForm2Group">
      <ng-template matStepLabel>İlkokul Bilgileri</ng-template>
      <app-primary-school></app-primary-school>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondForm2Group">
    <form [formGroup]="secondForm2Group">
      <ng-template matStepLabel>Ortaokul Bilgileri</ng-template>
      <app-secondary-school></app-secondary-school>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdForm2Group">
    <form [formGroup]="thirdForm2Group">
      <ng-template matStepLabel>Lise Bilgileri</ng-template>
      <app-high-school></app-high-school>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthForm2Group">
    <form [formGroup]="fourthForm2Group">
      <ng-template matStepLabel>Ön Lisans</ng-template>
      <app-associate-school></app-associate-school>
    </form>
  </mat-step>

   <mat-step [stepControl]="fifthForm2Group">
    <form [formGroup]="fifthForm2Group">
      <ng-template matStepLabel>Lisans Bilgileri</ng-template>
      <app-degree-school></app-degree-school>
    </form>
  </mat-step>

  <mat-step [stepControl]="sixthForm2Group">
    <form [formGroup]="sixthForm2Group">
      <ng-template matStepLabel>Yüksek Lisans Bilgileri</ng-template>
      <app-post-degree-school></app-post-degree-school>
    </form>
  </mat-step>

  <mat-step [stepControl]="seventhForm2Group">
  <form [formGroup]="seventhForm2Group">
    <ng-template matStepLabel>Doktora Bilgileri</ng-template>
    <app-phd-school></app-phd-school>
  </form>
  </mat-step>

</mat-stepper>
