.stepper-table-header{
  padding: 10px;
  font-size: larger;
  border-right: darkslateblue 2px solid;
  border-bottom: darkslateblue 3px solid;
  text-align: center;
}

.stepper-table-button{
  padding: 10px;
  font-size: larger;
  border-right: darkslateblue 2px solid;
  border-bottom: darkslateblue 3px solid;
  border-radius: 0.4rem;
  text-align: center;
  background-color:#BF9B6F ;

}

.stepper-table-body{
  padding: 8px;
  font-size: larger;
  border-right: darkslateblue 1px solid;
  border-bottom: darkslateblue 2px solid;
  text-align: center;
  background-color: rgba(197, 187, 246, 0.61);
}

.navBar{
  background-color: #283F3B;
  border-bottom: #283F3B 6px solid ;
  border-radius:0.1rem;

}
.side-grid{
  background-color: #0D5D56;
  border-right: #0D5D56 6px solid ;

}
.footer-temp{
  background-color: #283F3B;
  border-top: #283F3B 6px solid;
  min-height: 30px;
}
.previous-button{
  background-color: #90A955;
}
.next-button{
  background-color: #ECF39E;
}
