
<mat-stepper  [linear]="isLinear" #stepper style="background-color:#B6ADAF">
  <mat-step [stepControl]="firstForm2Group">
    <form [formGroup]="firstForm2Group">
      <ng-template matStepLabel>İlkokul Bilgileri</ng-template>
      <div class="container" style="min-height: 450px;">
      <table style="font-size: large">
        <thead>
        <h2>İlkokul Bilgileri</h2>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Okul Adı</mat-label>
              <input matInput [(ngModel)]="educationModel.primarySchoolName"   placeholder="Okul adı giriniz." formControlName="firstCtrl" required>
            </mat-form-field>
          </td>
          <td style="margin-left:1%;">
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Tarihi</mat-label>
              <input matInput [matDatepicker]="primaryGraduation">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="primaryGraduation"></mat-datepicker-toggle>
              <mat-datepicker #primaryGraduation></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="secondForm2Group">
    <form [formGroup]="secondForm2Group">
      <div class="container" style="min-height: 450px;">
      <ng-template matStepLabel>Ortaokul Bilgileri</ng-template>
      <table style="font-size: large">
        <thead>
        <h2>Ortaokul Bilgileri</h2>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Okul Adı</mat-label>
              <input matInput [(ngModel)]="educationModel.secondarySchoolName" placeholder="Okul adı giriniz." formControlName="firstCtrl" required>
            </mat-form-field>
          </td>
          <td style="margin-left:1%;">
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Tarihi</mat-label>
              <input matInput [matDatepicker]="secondaryGraduation">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="secondaryGraduation"></mat-datepicker-toggle>
              <mat-datepicker #secondaryGraduation></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="thirdForm2Group">
    <form [formGroup]="thirdForm2Group">
      <div class="container" style="min-height: 450px;">
      <ng-template matStepLabel>Lise Bilgileri</ng-template>
      <table style="font-size: large">
        <thead>
        <h2>Lise Bilgileri</h2>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Okul Adı</mat-label>
              <input matInput [(ngModel)]="educationModel.highSchoolName" placeholder="Okul adı giriniz." required>
            </mat-form-field>
          </td>
          <td style="margin-left:1%;">
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Tarihi</mat-label>
              <input matInput [matDatepicker]="highSchoolGraduation">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="highSchoolGraduation"></mat-datepicker-toggle>
              <mat-datepicker #highSchoolGraduation></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Notu</mat-label>
              <input matInput [(ngModel)]="educationModel.highGPA" placeholder="Puan Giriniz." formControlName="firstCtrl" required>
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="fourthForm2Group">
    <form [formGroup]="fourthForm2Group">
      <div class="container" style="min-height: 450px;">
      <ng-template matStepLabel>Ön Lisans</ng-template>

        <table style="font-size: large">
          <thead>
          <h2>Ön Lisans Bilgileri</h2>
          </thead>
          <tbody>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Okul Adı</mat-label>
                <mat-select [(ngModel)]="educationModel.associateName" required>
                  <mat-option *ngFor="let associateNames for educationModel.associateName" value="{{educationModel.associateName}}">{{associateNames}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Bölüm Adı</mat-label>
                <mat-select [(ngModel)]="educationModel.departmentAssociate" required>
                  <mat-option *ngFor="let associateDepartments for educationModel.departmentAssociate">{{associateDepartments}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Öğrenim Türü</mat-label>
                <mat-select [(ngModel)]="educationModel.associateState" required>
                  <mat-option *ngFor="let associateStates for educationModel.associateState" value="{{educationModel.associateState}}">{{associateStates}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td style="margin-left:1%;">
              <mat-form-field appearance="outline">
                <mat-label>Mezuniyet Tarihi</mat-label>
                <input matInput [matDatepicker]="associateGraduationDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="associateGraduationDate"></mat-datepicker-toggle>
                <mat-datepicker #associateGraduationDate></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Mezuniyet Notu</mat-label>
                <input matInput [(ngModel)]="educationModel.associateGPA" placeholder="Puan Giriniz." formControlName="firstCtrl" required>
              </mat-form-field>
            </td>
          </tr>
          <h3>Okulunuz listede yoksa</h3>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Okul Adı</mat-label>
                <input matInput [(ngModel)]="educationModel.newAssociateSchool" placeholder="Okul adı giriniz." >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Bölüm Adı</mat-label>
                <input matInput [(ngModel)]="educationModel.newAssociateDepartment" placeholder="Bölüm Adı Giriniz."  >
              </mat-form-field>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div >
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div >

    </form>
  </mat-step>

   <mat-step [stepControl]="fifthForm2Group">
    <form [formGroup]="fifthForm2Group">
      <div class="container" style="min-height: 450px;">
      <ng-template matStepLabel>Lisans Bilgileri</ng-template>
      <table>
        <thead>
        <h2>Lisans Bilgileri</h2>
        </thead>
        <tbody>
        <tr >
          <td class="stepper-table-button" >
            <button mat-raised-button color="primary" style="color:white;" (click)="openDialog()">Lisans Ekle</button></td>
          <td class="stepper-table-header">Okul İsmi</td>
          <td class="stepper-table-header">Bölüm İsmi</td>
          <td class="stepper-table-header">Öğrenim Durumu</td>
          <td class="stepper-table-header">Mezuniyet Ortalaması</td>
          <td class="stepper-table-header">Mezuniyet Tarihi</td>
        </tr>
            <td class="stepper-table-body"></td>
            <td class="stepper-table-body">Sakarya Univ</td>
            <td class="stepper-table-body">Bilgsayar Müh</td>
            <td class="stepper-table-body">Mezun</td>
            <td class="stepper-table-body">4.0</td>
            <td class="stepper-table-body">22.04.1999</td>

        </tbody>
      </table>
      </div>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="sixthForm2Group">
    <form [formGroup]="sixthForm2Group">
      <div class="container" style="min-height: 450px;">
      <ng-template matStepLabel>Yüksek Lisans Bilgileri</ng-template>
      <table>
        <thead>
        <h2>Yüksek Lisans Bilgileri</h2>
        </thead>
        <tbody>
        <tr >
          <td class="stepper-table-button" >
            <button mat-raised-button color="primary" style="color:white;" (click)="openDialog()">Yüksek Ekle</button></td>
          <td class="stepper-table-header">Okul İsmi</td>
          <td class="stepper-table-header">Bölüm İsmi</td>
          <td class="stepper-table-header">Öğrenim Durumu</td>
          <td class="stepper-table-header">Mezuniyet Ortalaması</td>
          <td class="stepper-table-header">Mezuniyet Tarihi</td>
        </tr>
        <td class="stepper-table-body"></td>
        <td class="stepper-table-body">Sakarya Univ</td>
        <td class="stepper-table-body">Bilgsayar Müh</td>
        <td class="stepper-table-body">Mezun</td>
        <td class="stepper-table-body">4.0</td>
        <td class="stepper-table-body">22.04.1999</td>

        </tbody>
      </table>
      </div>
      <div>
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="seventhForm2Group">
  <form [formGroup]="seventhForm2Group">
    <div class="container" style="min-height: 450px;">
    <ng-template matStepLabel>Doktora Bilgileri</ng-template>
      <table style="font-size: large">
        <thead>
        <h2>Ön Lisans Bilgileri</h2>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Okul Adı</mat-label>
              <mat-select [(ngModel)]="educationModel.phdName" required>
                <mat-option *ngFor="let PhDNames for educationModel.phdName" value="{{educationModel.phdName}}">{{PhDNames}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Bölüm Adı</mat-label>
              <mat-select [(ngModel)]="educationModel.departmentPhD" required>
                <mat-option *ngFor="let PhDDepartments for educationModel.departmentPhD">{{PhDDepartments}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Öğrenim Türü</mat-label>
              <mat-select [(ngModel)]="educationModel.graduationState" required>
                <mat-option *ngFor="let degraaStates for educationModel.graduationState" value="{{educationModel.graduationState}}">{{degraaStates}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td style="margin-left:1%;">
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Tarihi</mat-label>
              <input matInput [matDatepicker]="PhDGraduationDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="PhDGraduationDate"></mat-datepicker-toggle>
              <mat-datepicker #PhDGraduationDate></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Mezuniyet Notu</mat-label>
              <input matInput [(ngModel)]="educationModel.phdGPA" placeholder="Puan Giriniz." formControlName="firstCtrl" required>
            </mat-form-field>
          </td>
        </tr>
        <h3>Okulunuz listede yoksa</h3>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Okul Adı</mat-label>
              <input matInput [(ngModel)]="educationModel.newPhDSchool" placeholder="Okul adı giriniz." >
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Bölüm Adı</mat-label>
              <input matInput [(ngModel)]="educationModel.newPhDDepartment" placeholder="Bölüm Adı Giriniz."  >
            </mat-form-field>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button mat-raised-button color="danger" (click)="stepper.reset()">Next</button>
      <button mat-raised-button color="warn" matStepperPrevious>Başa Dön!</button>
      <button mat-raised-button color="primary" matStepperNext>Devam et</button>
    </div>
  </form>
  </mat-step>

</mat-stepper>
