<form [formGroup]="form" autocomplete="off">
<table style="font-size: large">
  <thead>
  <h2>İletişim Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Ülke</mat-label>
      <mat-select  [formControl]="country"
                   name="country"
                   [errorStateMatcher]="matcher" >
        <mat-option *ngFor="let country of countries" [value]="country.shortName">
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="country.hasError('required')"
      >Please select a country.</mat-error>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>İl</mat-label>
      <mat-select [formControl]="state"
                  name="state"
                  [errorStateMatcher]="matcher" >
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="state.hasError('required')"
      >Please select a state.</mat-error>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>İlçe</mat-label>
      <mat-select [formControl]="city" name="city" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="city.hasError('required')"
      >Please select a city.</mat-error>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Adres Giriniz</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field></p></td>
  </tr>
  <tr>

    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>İş Telefonu</mat-label>
        <input type="tel" formControlName="workPhone" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Ev Telefonu</mat-label>
        <input type="tel" matInput formControlName="homePhone" placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cep Telefonu</mat-label>
        <input type="tel" matInput formControlName="cellPhone" placeholder="555-555-1234"  required>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cep Telefonu-2</mat-label>
        <input type="tel" matInput formControlName="cellPhone2" placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mail Adresi</mat-label>
        <input type="email" matInput formControlName="mailAdress" placeholder="örnek@gmail.com">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
  </tr>
  <mat-divider style="width: 600%;"></mat-divider>
  <h2>Beklentiler</h2>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Kariyer Hedefi</mat-label>
      <input type="text" matInput formControlName="goal" placeholder="örnek@gmail.com">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Hedeflenen Pozisyonlar</mat-label>
      <input type="text" matInput formControlName="position" placeholder="örnek@gmail.com">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Maaş Beklentisi</mat-label>
      <input  matInput formControlName="salaryExp" placeholder="">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
      <mat-label>Genel Beklentiler</mat-label>
      <textarea matInput formControlName="general"></textarea>
    </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>
</form>

<div style="margin-top:10%;">
  <button mat-raised-button class="previous-button" matStepperPrevious>Back</button>
  <button mat-raised-button (click)="save()" class="next-button" matStepperNext>Next</button>
</div>
