<table style="font-size: large">
  <thead>
  <h2>İletişim Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Ülke</mat-label>
      <mat-select required >
        <mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>
      </mat-select>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>İl</mat-label>
      <mat-select required >
        <mat-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</mat-option>
      </mat-select>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>İlçe</mat-label>
      <mat-select required >
        <mat-option *ngFor="let district of districts" value="{{district.name}}">{{district.name}}</mat-option>
      </mat-select>
    </mat-form-field></p></td>
    <td><p><mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Adres Giriniz</mat-label>
      <textarea matInput></textarea>
    </mat-form-field></p></td>
  </tr>
  <tr>

    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>İş Telefonu</mat-label>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Ev Telefonu</mat-label>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cep Telefonu</mat-label>
        <input type="tel" matInput placeholder="555-555-1234"  required>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Cep Telefonu-2</mat-label>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mail Adresi</mat-label>
        <input type="email" matInput placeholder="örnek@gmail.com">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </td>
  </tr>
  <mat-divider style="width: 600%;"></mat-divider>
  <h2>Beklentiler</h2>
  <tr>


    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Kariyer Hedefi</mat-label>
      <input type="text" matInput placeholder="örnek@gmail.com">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Hedeflenen Pozisyonlar</mat-label>
      <input type="text" matInput placeholder="örnek@gmail.com">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Maaş Beklentisi</mat-label>
      <input type="number" matInput placeholder="örnek@gmail.com">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
    <td><mat-form-field appearance="outline">
      <mat-label>Genel Beklentiler</mat-label>
      <textarea matInput></textarea>
    </mat-form-field></td>
  </tr>
  </tbody>
</table>
