<table style="font-size: large">
  <thead>
  <h2>Diğer Bilgiler</h2>
  </thead>
  <tbody>
  <tr>
    <td><p><mat-form-field appearance="outline">
      <mat-label>İlgi Alanları</mat-label>
      <textarea matInput [(ngModel)]="otherModel.interests"></textarea>
    </mat-form-field>
    </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Üye Olunan Sivil Toplum Kuruluşları</mat-label>
          <textarea matInput [(ngModel)]="otherModel.memberNGO"></textarea>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Kıtalar Arası Seyahat Edebilirim.</mat-label>
          <mat-select  required [(ngModel)]="otherModel.travelContinents">
            <mat-option *ngFor="let travels for otherModel.travelContinents" value="{{otherModel.travelContinents}}">{{travels}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Sigara Kullanıyorum.</mat-label>
          <mat-select  required  [(ngModel)]="otherModel.cigarette">
            <mat-option *ngFor="let cigar for otherModel.cigarette" value="{{otherModel.cigarette}}">{{cigar}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <mat-divider style="width: 600%;"></mat-divider>
  <h2>Askerlik Bilgileri</h2>
  <tr>
    <td><p><mat-form-field appearance="outline">
      <mat-label>Askerlik Durumu</mat-label>
      <mat-select  required [(ngModel)]="otherModel.militaryStatus">
        <mat-option *ngFor="let military for otherModel.militaryStatus" value="{{otherModel.militaryStatus}}">{{military}}</mat-option>
      </mat-select>
    </mat-form-field>
    </p>
    </td>
    <td> <p>
      <mat-form-field appearance="outline">
        <mat-label>Tecil Tarihi</mat-label>
        <input matInput [matDatepicker]="militaryDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="militaryDate"></mat-datepicker-toggle>
        <mat-datepicker #militaryDate></mat-datepicker>
      </mat-form-field></p>
    </td>
    <td><p>
      <mat-form-field appearance="outline">
        <mat-label>Tamamlanma Tarihi</mat-label>
        <input matInput [matDatepicker]="complectionStatus">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="complectionStatus"></mat-datepicker-toggle>
        <mat-datepicker #complectionStatus></mat-datepicker>
      </mat-form-field></p>
    </td>

  </tr>
  <mat-divider style="width: 600%;"></mat-divider>
  <h2>Sağlık Bilgileri</h2>
  <tr></tr>
  <mat-divider style="width: 600%;"></mat-divider>
  <h2>Ek Bilgileri</h2>
  <tr><td><p>
    <mat-form-field appearance="outline">
      <mat-label>Ek Açıklamalar</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p></td></tr>

  </tbody>
</table>
