<table style="font-size: large">
  <thead>
  <h2>Yüksek Lisans Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okul Adı</mat-label>
        <mat-select required >
          <mat-option *ngFor="let school of schools" value="{{school.name}}">{{school.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Bölüm Adı</mat-label>
          <input matInput [(ngModel)]="educationModel.departmentPostgraduation"  placeholder="Okul adı giriniz."  >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Öğrenim Türü</mat-label>
        <mat-select required>
          <mat-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td style="margin-left:1%;">
      <mat-form-field appearance="outline">
        <mat-label>Mezuniyet Tarihi</mat-label>
        <input matInput [matDatepicker]="postgraduationGraduationDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="postgraduationGraduationDate"></mat-datepicker-toggle>
        <mat-datepicker #postgraduationGraduationDate></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Mezuniyet Notu</mat-label>
        <input matInput [(ngModel)]="educationModel.postgraduationGPA" placeholder="Puan Giriniz." formControlName="firstCtrl" required>
      </mat-form-field>
    </td>
  </tr>
  <h3>Okulunuz listede yoksa</h3>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okul Adı</mat-label>
        <input matInput [(ngModel)]="educationModel.newPostgraduationSchool" placeholder="Okul adı giriniz." >
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Bölüm Adı</mat-label>
        <input matInput [(ngModel)]="educationModel.newPostgraduationDepartment" placeholder="Bölüm Adı Giriniz."  >
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>İptal Et</button>
  <button mat-raised-button color="warn" style="background-color: lawngreen" [mat-dialog-close]="true" cdkFocusInitial>Kaydet</button>
</mat-dialog-actions>

