.middle{
  background-color:#2e424d;

}
.nav-bar{
  background-color:#5b8291;

}
.footer{
  background-color:#5b8291;;
}
.form-reg{
  background: rgb(236,253,255);

  background: linear-gradient(180deg, rgb(201, 218, 222) 0%, rgba(65,240,209,1) 35%, rgb(201, 218, 222) 68%);
}
