<form [formGroup]="generalForm" autocomplete="off">
<table style="font-size: medium">
  <thead>
  <h2>Genel Bilgiler</h2>
  </thead>
  <tbody>
  <tr>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;" >
          <mat-label>İsim giriniz.</mat-label>
          <input matInput formControlName="name"  placeholder="İsim" >
        </mat-form-field>
      </p></td>
    <td>
      <p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label  >Soyisim giriniz.</mat-label>
        <input matInput formControlName="lastname" placeholder="Soyisim"  >
      </mat-form-field>
    </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Cinsiyet</mat-label>
          <mat-select formControlName="gender" required  >
            <mat-option *ngFor="let gender  of genders" [value]="gender.name">
              {{gender.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td >
      <p >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Eğitim Durumu</mat-label>
          <mat-select formControlName="graduation" required  >
            <mat-option *ngFor="let education of educations" value="{{education.name}}">{{education.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
      <p>
        <mat-checkbox style="margin-bottom: 30px;" formControlName="disableSelectCitizen"  >Türk Vatandaşı Değilim</mat-checkbox>
    </p>
    </td>
    <td>
      <p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kimlik Türü</mat-label>
        <mat-select formControlName="identityType"   required >
          <mat-option *ngFor="let identy of identities" [value]="identy.name">{{identy.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      </p>

    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kimlik Numarası</mat-label>
          <input matInput formControlName="identityNum" required placeholder="Kimlik Numarası Giriniz.">
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Medeni Durum</mat-label>
          <mat-select formControlName="martialStatus" required >
            <mat-option *ngFor="let marriage of marriages"  value="{{marriage.name}}">{{marriage.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <mat-checkbox style="margin-bottom: 30px;" formControlName="disableSelectDriver">Sürücü Belgesi Var Mı?</mat-checkbox>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Sürücü Belgesi Türü</mat-label>
          <mat-select formControlName="driverLicenseType" required >
            <mat-option *ngFor="let driver of drivers" value="{{driver.name}}">
              {{driver.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Uyruk</mat-label>
          <mat-select formControlName="nation" required >
            <mat-option *ngFor="let nation of nations" value="{{nation.name}}">{{nation.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td ><button mat-raised-button  style="color:white;background-color: #0ed7d7;margin-left: 25%;margin-bottom:17% " (click)="openModal()">Fotoğraf Ekle</button></td>
  </tr>

  <mat-divider style="width: 450%;"></mat-divider>
  <h2 style="margin-top:13px;">Kişisel Bilgiler</h2>
  <tr>
    <td >
      <mat-form-field appearance="outline">
        <mat-label>Doğum Tarihi</mat-label>
        <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Ülke</mat-label>
        <mat-select formControlName="bornedCountry" required >
          <mat-option *ngFor="let country of countries" value="{{country.name}}">
            {{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Şehir</mat-label>
        <mat-select formControlName="bornedCity" required >
          <mat-option *ngFor="let city of cities" value="{{city.name}}">
            {{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

  </tr>
  </tbody>
</table>
</form>

<div style="margin-top:5%;width: 120%;">
  <button mat-raised-button (click)="save()" class="next-button" matStepperNext>Next</button>
</div>
