<table style="font-size: medium">
  <thead>
  <h2>Genel Bilgiler</h2>
  </thead>
  <tbody>
  <tr>
    <td >
      <p>
        <mat-form-field appearance="outline" style="width: 100%;" >
          <mat-label>İsim giriniz.</mat-label>
          <input matInput [(ngModel)]="generalModel.Name"  placeholder="İsim" >
        </mat-form-field>
      </p></td>
    <td><p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Soyisim giriniz.</mat-label>
        <input matInput [(ngModel)]="generalModel.Lastname" placeholder="Soyisim"  >
      </mat-form-field>
    </p></td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Cinsiyet</mat-label>
          <mat-select  [(ngModel)]="generalModel.gender"  >
            <mat-option *ngFor="let genders of generalModel.gender" value="{{generalModel.gender}}" formControlName="firstCtrl">
              {{genders}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td >
      <p >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Eğitim Durumu</mat-label>
          <mat-select  [(ngModel)]="generalModel.graduation"  >
            <mat-option *ngFor="let graduations of generalModel.graduation" value="{{generalModel.graduation}}">{{graduations}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
      <p>
        <mat-checkbox style="margin-bottom: 30px;" [formControl]="disableSelectCitizen">Türk Vatandaşı Değilim</mat-checkbox>
    </p>
    </td>
    <td>
      <p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kimlik Türü</mat-label>
        <mat-select [disabled]="disableSelectCitizen.value"  [(ngModel)]="generalModel.identityType" >
          <mat-option *ngFor="let identypes of generalModel.identityType">{{identypes}}</mat-option>
        </mat-select>
      </mat-form-field>
      </p>

    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kimlik Numarası</mat-label>
          <input matInput [disabled]="disableSelectCitizen.value" [(ngModel)]="generalModel.identityNum" placeholder="Kimlik Numarası Giriniz.">
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Medeni Durum</mat-label>
          <mat-select  [(ngModel)]="generalModel.martialStatus" >
            <mat-option *ngFor="let status of generalModel.martialStatus"  value="{{generalModel.martialStatus}}">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <mat-checkbox style="margin-bottom: 30px;" [formControl]="disableSelectDriver">Sürücü Belgesi Var Mı?</mat-checkbox>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Sürücü Belgesi Türü</mat-label>
          <mat-select  [(ngModel)]="generalModel.driverLicenseType" [disabled]="disableSelectDriver.value" >
            <mat-option *ngFor="let driverTypes of generalModel.driverLicenseType" value="{{generalModel.driverLicenseType}}">
              {{driverTypes}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Uyruk</mat-label>
          <mat-select [(ngModel)]="generalModel.nation" >
            <mat-option *ngFor="let nations of generalModel.nation" value="{{generalModel.nation}}">{{nations}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <mat-divider style="width: 450%;"></mat-divider>
  <h2 style="margin-top:13px;">Kişisel Bilgiler</h2>
  <tr>
    <td >
      <mat-form-field appearance="outline">
        <mat-label>Doğum Tarihi</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Ülke</mat-label>
        <mat-select [(ngModel)]="generalModel.bornedCountry" >
          <mat-option *ngFor="let countries of generalModel.bornedCountry" value="{{generalModel.bornedCountry}}">
            {{countries}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Şehir</mat-label>
        <mat-select [(ngModel)]="generalModel.bornedCity"  >
          <mat-option *ngFor="let cities of generalModel.bornedCity" value="{{generalModel.bornedCity}}">
            {{cities}}</mat-option>
          <option value="female">Afrika</option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>
