<table style="font-size: medium">
  <thead>
  <h2>Genel Bilgiler</h2>
  </thead>
  <tbody>
  <tr>
    <td >
      <p>
        <mat-form-field appearance="outline" style="width: 100%;" >
          <mat-label>İsim giriniz.</mat-label>
          <input matInput placeholder="Placeholder"  required>
        </mat-form-field>
      </p></td>
    <td><p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Soyisim giriniz.</mat-label>
        <input matInput [(ngModel)]="generalService.formData.Name"  placeholder="{{generalModel.Name}}"  required>
      </mat-form-field>

    </p></td>

    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Cinsiyet</mat-label>
          <mat-select matNativeControl required>
            <option value="male">Erkek</option>
            <option value="female">Kadın</option>
          </mat-select>
        </mat-form-field>
      </p>
    </td>
    <td >
      <p >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Eğitim Durumu</mat-label>
          <select matNativeControl required>
            <option value="male">İlkokul</option>
            <option value="female">Ortaokul</option>
            <option value="female">Lise</option>
            <option value="female">Ön Lisans</option>
            <option value="female">Lisans</option>
            <option value="female">Yüksek Lisans</option>
            <option value="female">Doktora</option>
          </select>
        </mat-form-field>
      </p>
    </td>

  </tr>
  <tr>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kimlik Türü</mat-label>
          <select matNativeControl required>
            <option value="male">T.C Kimlik Kartı</option>
            <option value="female">Passaport</option>
            <option value="female">Geçici Kimlik Belgesi</option>
          </select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kimlik Numarası</mat-label>
          <input matInput placeholder="Kimlik Numarası Giriniz.">
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>T.C Vatandaşı Değilim</mat-label>
          <select matNativeControl required>
            <option value="male">Evet</option>
            <option value="female">Hayır</option>
          </select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Medeni Durum</mat-label>
          <select matNativeControl required>
            <option value="male">Evli</option>
            <option value="female">Bekar</option>
          </select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Sürücü Belgesi Var Mı ?</mat-label>
          <select matNativeControl required>
            <option value="male">Evet</option>
            <option value="female">Hayır</option>
          </select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Sürücü Belgesi Türü</mat-label>
          <select matNativeControl required>
            <option value="male">A1</option>
            <option value="female">B2</option>
          </select>
        </mat-form-field>
      </p>
    </td>
    <td>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Uyruk</mat-label>
          <select matNativeControl required>
            <option value="male">Almanya</option>
            <option value="female">Afrika</option>
          </select>
        </mat-form-field>
      </p>
    </td>
  </tr>
  <mat-divider style="width: 450%;"></mat-divider>
  <h2>Kişisel Bilgiler</h2>
  <tr>
    <td >
      <mat-form-field appearance="outline">
        <mat-label>Doğum Tarihi</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Ülke</mat-label>
        <select matNativeControl required>
          <option value="male">Almanya</option>
          <option value="female">Afrika</option>
        </select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Doğduğu Şehir</mat-label>
        <select matNativeControl required>
          <option value="male">Berlin</option>
          <option value="female">Afrika</option>
        </select>
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>
