<table style="font-size: large">
  <thead>
  <h2>Referans Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Referans Adı</mat-label>
        <input matInput [(ngModel)]="referanceModel.referanceName" placeholder="İsim Giriniz."  required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Kurum Adı</mat-label>
        <input matInput [(ngModel)]="referanceModel.referanceFoundation" placeholder="Ad Giriniz.">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>E-mail Adresi</mat-label>
        <input matInput [(ngModel)]="referanceModel.referanceEmail" placeholder="Mail Adresi Giriniz"  required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Telefon numarası</mat-label>
        <input matInput [(ngModel)]="referanceModel.referancePhone" placeholder="Numara Giriniz."  required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Telefon Numarası-2</mat-label>
        <input matInput [(ngModel)]="referanceModel.referancePhone2" placeholder="Numara Giriniz." >
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>İptal Et</button>
  <button mat-raised-button color="warn" style="background-color: lawngreen" [mat-dialog-close]="true" cdkFocusInitial>Kaydet</button>
</mat-dialog-actions>

