
<table style="width: 100%">
  <thead>
  <h2>Dil Bilgileri</h2>
  </thead>
  <tbody>
  <tr >

    <td class="stepper-table-header">Dil Adı</td>
    <td class="stepper-table-header">Okuma Seviyesi</td>
    <td class="stepper-table-header">Yazma Seviyesi</td>
    <td class="stepper-table-header">Konuşma Seviyesi</td>
    <td class="stepper-table-header">Anlama Seviyesi</td>
    <td class="stepper-table-header">Ortalama Seviye</td>
    <td class="stepper-table-header">Sınav Türü</td>
    <td class="stepper-table-header">Sınav Puanı</td>
    <td class="stepper-table-button" >
    <button mat-raised-button  style="background-color:#8a9b6e;" (click)="openLanguageModal(null,languageModel.LanguageId)">Dil Ekle</button></td>
  </tr>

  <tr *ngIf="LanguageList.length==0" [class.text-danger]="!isValid&&LanguageList.length==0">
    <td style="text-align:center;" colspan="8"> <strong>Lütfen Dil Bilgisi Ekleyiniz.</strong> </td>
  </tr>
  <tr *ngFor="let item of LanguageList,let i= index;">

    <td class="stepper-table-body" >{{item.LanguageName}}</td>
    <td class="stepper-table-body">{{item.ReadingLvl}}</td>
    <td class="stepper-table-body"> {{item.WritingLvl}}</td>
    <td class="stepper-table-body">{{item.SpeakingLvl}}</td>
    <td class="stepper-table-body">{{item.UnderstandingLvl}}</td>
    <td class="stepper-table-body">Değer</td>
    <td class="stepper-table-body">{{item.LanguageExam}}</td>
    <td class="stepper-table-body">{{item.ExamResult}}</td>
    <td class="stepper-table-button">
    <button mat-fab color="primary" (click)="openLanguageModal(i,item.LanguageId)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="openLanguageModal(i,item.LanguageId)">
      <mat-icon>edit</mat-icon>
    </button>
  </td>

  </tr>
  </tbody>
</table>


