
<table>
  <thead>
  <h2>Dİl Bilgileri</h2>
  </thead>
  <tbody>
  <tr >
    <td class="stepper-table-button" >
      <button mat-raised-button color="primary" style="color:white;" (click)="openLanguageModal()">Dil Ekle</button></td>
    <td class="stepper-table-header">Dil Adı</td>
    <td class="stepper-table-header">Okuma Seviyesi</td>
    <td class="stepper-table-header">Yazma Seviyesi</td>
    <td class="stepper-table-header">Konuşma Seviyesi</td>
    <td class="stepper-table-header">Anlama Seviyesi</td>
    <td class="stepper-table-header">Ortalama Seviye</td>
    <td class="stepper-table-header">Sınav Türü</td>
    <td class="stepper-table-header">Sınav Puanı</td>
  </tr>
  <tr >
  <td class="stepper-table-body"></td>
  <td class="stepper-table-body"></td>
  <td class="stepper-table-body"> 8</td>
  <td class="stepper-table-body">5</td>
  <td class="stepper-table-body">7</td>
  <td class="stepper-table-body">9</td>
  <td class="stepper-table-body">6.78</td>
  <td class="stepper-table-body">YDS</td>
  <td class="stepper-table-body">67</td>
  </tr>
  </tbody>
</table>
