<form >
<table style="width: 100%">
  <thead>
  <h2>Dil Bilgileri</h2>
  </thead>
  <tbody>
  <tr >

    <td class="stepper-table-header">Dil Adı</td>
    <td class="stepper-table-header">Okuma Seviyesi</td>
    <td class="stepper-table-header">Yazma Seviyesi</td>
    <td class="stepper-table-header">Konuşma Seviyesi</td>
    <td class="stepper-table-header">Anlama Seviyesi</td>
    <td class="stepper-table-header">Ortalama Seviye</td>
    <td class="stepper-table-header">Sınav Türü</td>
    <td class="stepper-table-header">Sınav Puanı</td>
    <td class="stepper-table-button" >
    <button mat-raised-button  style="background-color:#8a9b6e;" (click)="openLanguageModal(null,languageModel.id)">Dil Ekle</button></td>
  </tr>

  <tr *ngIf="LanguageList.length==0" >
    <td style="text-align:center;" colspan="8"> <strong>Lütfen Dil Bilgisi Ekleyiniz.</strong> </td>
  </tr>
  <tr *ngFor="let item of LanguageList,let i= index;">

    <td class="stepper-table-body" >{{item.languageName}}</td>
    <td class="stepper-table-body">{{item.readingLvl}}</td>
    <td class="stepper-table-body"> {{item.writingLvl}}</td>
    <td class="stepper-table-body">{{item.speakingLvl}}</td>
    <td class="stepper-table-body">{{item.understandingLvl}}</td>
    <td class="stepper-table-body">{{(item.readingLvl+item.understandingLvl+item.writingLvl+item.speakingLvl)/4}}</td>
    <td class="stepper-table-body">{{item.languageExam}}</td>
    <td class="stepper-table-body">{{item.examResult}}</td>
    <td class="stepper-table-button">
    <button mat-mini-fab color="primary" (click)="deleteRecord(item)" >
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="accent"  (click)="openLanguageModal(i,item.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </td>

  </tr>
  </tbody>
</table>
</form>

