<table style="font-size: large">
  <thead>
  <h2>Lisans Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okul Adı</mat-label>
        <select matNativeControl required>
          <option value="male">Sakarya Üniversitesi</option>
          <option value="female">İstanbul Üniversitesi</option>
        </select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Bölüm Adı</mat-label>
        <select matNativeControl required>
          <option value="male">Bilgisayar müh.</option>
          <option value="female">Makine Müh.</option>
        </select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Öğrenim Türü</mat-label>
        <select matNativeControl required>
          <option value="male">Mezun</option>
          <option value="female">Devam Ediyor</option>
        </select>
      </mat-form-field>
    </td>
    <td style="margin-left:1%;">
      <mat-form-field appearance="outline">
        <mat-label>Mezuniyet Tarihi</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Mezuniyet Notu</mat-label>
        <input matInput placeholder="Puan Giriniz." formControlName="firstCtrl" required>
      </mat-form-field>
    </td>
  </tr>
  <h3>Okulunuz listede yoksa</h3>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okul Adı</mat-label>
        <input matInput placeholder="Okul adı giriniz." formControlName="firstCtrl" required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Bölüm Adı</mat-label>
        <input matInput placeholder="Bölüm Adı Giriniz." formControlName="firstCtrl" required>
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>İptal Et</button>
  <button mat-raised-button color="warn" style="background-color: lawngreen" [mat-dialog-close]="true" cdkFocusInitial>Kaydet</button>
</mat-dialog-actions>
