<table style="font-size: large">
  <thead>
  <h2>Dil Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td>

      <mat-form-field appearance="outline">
        <mat-label>Dil Adı</mat-label>
        <mat-select  [(ngModel)]="formData.LanguageID" required>
          <mat-option *ngFor="let item  of LanguageList" value="{{item.LanguageID}}">
            {{item.LanguageName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field appearance="outline">
        <mat-label>Konuşma Seviyesi</mat-label>
        <mat-select [(ngModel)]="languageModel.SpeakingLvl" required>
          <mat-option *ngFor="let speaking of LanguageList" value="{{speaking.LanguageID}}">
            {{speaking.SpeakingLvl}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okuma Seviyesi</mat-label>
        <mat-select [(ngModel)]="languageModel.ReadingLvl" required>
          <mat-option *ngFor="let readings  of LanguageList" value="{{languageModel.ReadingLvl}}">
            {{readings.ReadingLvl}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Yazma Seviyesi</mat-label>
        <mat-select [(ngModel)]="languageModel.WritingLvl" required>
          <mat-option *ngFor="let writings  of LanguageList" value="{{languageModel.WritingLvl}}">
            {{writings}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Anlama Seviyesi</mat-label>
        <mat-select [(ngModel)]="languageModel.UnderstandingLvl" required>
          <mat-option *ngFor="let understandings  of LanguageList" value="{{languageModel.UnderstandingLvl}}">
            {{understandings}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Sınav Türü</mat-label>
        <mat-select [(ngModel)]="languageModel.LanguageExam" required>
          <mat-option *ngFor="let exams for languageModel.LanguageExam" value="{{languageModel.LanguageExam}}">
            {{exams}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Sınav Puanı</mat-label>
        <input matInput [(ngModel)]="languageModel.ExamResult" placeholder="Sınav puanı giriniz." required>
      </mat-form-field>
    </td>
  </tr>
  </tbody>
</table>



<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>İptal Et</button>
  <button mat-raised-button color="warn" style="background-color: lawngreen" [mat-dialog-close]="true" cdkFocusInitial>Kaydet</button>
</mat-dialog-actions>

