<form [formGroup]="languageForm"  >
<table style="font-size: large">
  <thead>
  <h2>Dil Bilgileri</h2>
  </thead>
  <tbody>
  <tr>
    <td>

      <mat-form-field appearance="outline">
        <mat-label>Dil Adı</mat-label>
        <mat-select formControlName="languageName"  >
          <mat-option *ngFor="let language  of languages" value="{{language.name}}">
            {{language.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <mat-form-field appearance="outline">
        <mat-label>Konuşma Seviyesi</mat-label>
        <mat-select formControlName="speakingLvl" >
          <mat-option *ngFor="let speaking  of speakings" value="{{speaking.level}}">
            {{speaking.level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Okuma Seviyesi</mat-label>
        <mat-select  formControlName="readingLvl">
          <mat-option *ngFor="let reading  of readings" value="{{reading.level}}">
            {{reading.level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Yazma Seviyesi</mat-label>
        <mat-select  formControlName="writingLvl">
          <mat-option *ngFor="let writing  of writings" value="{{writing.level}}">
            {{writing.level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Anlama Seviyesi</mat-label>
        <mat-select  formControlName="understandingLvl" >
          <mat-option *ngFor="let understanding  of understandings" value="{{understanding.level}}">
            {{understanding.level}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Sınav Türü</mat-label>
        <mat-select  formControlName="languageExam">
          <mat-option *ngFor="let exam  of exams" value="{{exam.name}}">
            {{exam.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Sınav Puanı</mat-label>
        <input matInput formControlName="examResult" placeholder="Sınav puanı giriniz." required>
      </mat-form-field>
    </td>

  </tr>
  </tbody>
</table>
</form>



<mat-dialog-actions align="end">
  <button  mat-raised-button color="warn" [mat-dialog-close]="true">İptal Et</button>
  <button  (click)="save()" mat-raised-button color="warn" style="background-color: lawngreen"  >Kaydet</button>
</mat-dialog-actions>

