<table>
  <thead>
  <h2>İş Bilgileri</h2>
  </thead>
  <tbody>
  <tr >
    <td class="stepper-table-button" >
      <button mat-raised-button color="primary" style="color:white;" (click)="openWorkModal()">İş Ekle</button></td>
    <td class="stepper-table-header">Firma Adı</td>
    <td class="stepper-table-header">Çalıştığı Departman</td>
    <td class="stepper-table-header">Çalıştığı Pozisyon</td>
    <td class="stepper-table-header">Son Maaş</td>
    <td class="stepper-table-header">İşe Giriş Tarihi</td>
    <td class="stepper-table-header">Hala Aktif Çalışıyorum</td>
    <td class="stepper-table-header">İşten Ayrılış Tarihi</td>
  </tr>
  <tr style="text-align: center">
  <td class="stepper-table-body"></td>
  <td class="stepper-table-body">TMV</td>
  <td class="stepper-table-body">İnsan Kaynakları</td>
  <td class="stepper-table-body">Genel Çaycı</td>
  <td class="stepper-table-body">1000$</td>
  <td class="stepper-table-body">9.08.2036</td>
  <td class="stepper-table-body">Hayır</td>
  <td class="stepper-table-body">9.09.2037</td>
  </tr>

  </tbody>
</table>
