<table style="width: 100%">
  <thead>
  <h2>İş Bilgileri</h2>
  </thead>
  <tbody>
  <tr >
    <td class="stepper-table-button" >
      <button mat-raised-button color="primary" style="color:white;" (click)="openWorkModal(null,workModal.id)">İş Ekle</button></td>
    <td class="stepper-table-header">Firma Adı</td>
    <td class="stepper-table-header">Çalıştığı Departman</td>
    <td class="stepper-table-header">Çalıştığı Pozisyon</td>
    <td class="stepper-table-header">Son Maaş</td>
    <td class="stepper-table-header">İşe Giriş Tarihi</td>
    <td class="stepper-table-header">Hala Aktif Çalışıyorum</td>
    <td class="stepper-table-header">İşten Ayrılış Tarihi</td>
  </tr>
  <tr style="text-align: center" *ngIf="WorkList.length==0">
    <td style="text-align:center;" colspan="8"> <strong>Lütfen İş Bilgisi Ekleyiniz.</strong> </td>
  </tr>
  <tr *ngFor="let item of WorkList">
    <td class="stepper-table-button" (click)="openWorkModal(null,item.id)"><i class=" fa fa-pencil"></i></td>
    <td class="stepper-table-body">{{item.CompanyName}}</td>
    <td class="stepper-table-body">{{item.CompanyDepartment}}</td>
    <td class="stepper-table-body"> {{item.CompanyPosition}}</td>
    <td class="stepper-table-body">{{item.CompanySalary}}</td>
    <td class="stepper-table-body">{{item.CompanyStartingDate}}</td>
    <td class="stepper-table-body">{{item.CompanyStillWorking}}</td>
    <td class="stepper-table-body">{{item.CompanyLeavingDate}}</td>

  </tr>

  </tbody>
</table>
