<table>
  <thead>
  <h2>Referans Bilgileri</h2>
  </thead>
  <tbody>
  <tr >
    <td class="stepper-table-button" >
      <button mat-raised-button color="primary" style="color:white;" (click)="openReferanceModal()">Referans Ekle Ekle</button></td>
    <td class="stepper-table-header">Referansın Adı</td>
    <td class="stepper-table-header">Referans Olan Kurum</td>
    <td class="stepper-table-header">REferansın E-Mail Adresi</td>
    <td class="stepper-table-header">Referansın Telefon Numarası</td>
    <td class="stepper-table-header">Referansın Telefon Numarası-2</td>
  </tr>
  <td class="stepper-table-body"></td>
  <td class="stepper-table-body">Ahmet Orgöz</td>
  <td class="stepper-table-body">M.I.T</td>
  <td class="stepper-table-body">mıt@orgoz.com</td>
  <td class="stepper-table-body">563 665 45 78</td>
  <td class="stepper-table-body">-</td>


  </tbody>
</table>
