.stepper-table-header{
  padding-bottom: 10px;
  padding-top: 10px;
;
  font-size: larger;
  text-align: center;
  background-image: linear-gradient( rgb(15, 217, 182), rgba(255,0,0,0));
}

.stepper-table-button{
  padding: 10px;
  font-size: larger;
  text-align: center;
}

.stepper-table-body{
  padding: 8px;
  font-size: larger;
  text-align: center;
  background-color: rgba(191, 221, 225, 0.35),;
}

.navBar{
  background-color: #04BFBF;
  border-bottom: #55B6C9 6px solid ;
  border-radius:0.1rem;
}
.side-grid{
  background-color: #4D6173;
  border-right: #495065 6px solid ;

}
.footer-temp{
  background-color: #529AD9;
  border-top: #2b709b 6px solid;
}
