.navBar{
  background-color: #5fcde4;
  border-bottom: #55B6C9 6px solid ;
  border-radius:0.1rem;
}
.side-grid{
  background-color: #639bff;
  border-right: #4B75BF 6px solid ;

}
.footer-temp{
  background-color: rgba(23,23,98,0.76);
  border-top: #2828AD 6px solid;
}
